body {
    background-color: lightgreen;
}
button {
    cursor: pointer;
}
.title {
    font-size: 70px;
    font-style: italic;
    position: absolute;
    left: 15%;
    top: -30px;
    float: left;
    background-color: lightcoral;
}
.describtion_container {
    background-color: lightblue;
    float: left;
    padding-top: 100px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 830px;
    width: 1120px;
    flex-wrap: wrap;
}
#treecontainer {
    width: 700px;
    height: 850px;
    background-color: lightgreen;
    padding-top: 80px;
    float: right;
    border: 1px solid darkgreen;
}
.tree {
    width: 100%;
    height: 100%;
}
.star {
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 1;
    top: 3%;
    right: 15.2%;
    transform: rotate(2deg);
}
