html {
  scroll-behavior: smooth;
}

audio {
    padding-top: 10px;
}

body {
  overflow: hidden;
}

main {
  overflow-x: hidden;
}

#buttonFile {
  margin-top: 10px;
}

@font-face {
    font-family: Cisla;
    src: url('JMH Cthulhumbus Arcade.otf');
}
@font-face {
    font-family: Textt;
    src: url('Spirax-Regular.ttf');
}

@media (max-width: 1000px) {
      .ball {
        background-repeat: no-repeat;
        background-size: contain;
        text-align: center;
        display: flex;
        font-size: 12px;
        color: black;
        flex-direction: column;
        justify-content: center;
        background-position: center center;
        width: 6vh;
        height: 5%;
        font-size: smaller;
        position: absolute;
        font-family: Cisla;
        cursor: pointer;
    }
}

@media (min-width: 1000px) {
  .ball {
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    display: flex;
    font-size: 12px;
    color: black;
    flex-direction: column;
    justify-content: center;
    background-position: center center;
    width: 6vh;
    height: 5%;
    position: absolute;
    font-family: Cisla;
    cursor: pointer;
}
}


.snowflake {
  color: lig;
    position: absolute;
    display: block;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-image: -webkit-radial-gradient(
      center,
      circle farthest-corner,
      rgba(130, 224, 255) 40%,
      rgba(255, 255, 255, 0) 100%
    );
    background-image: -moz-radial-gradient(
      center,
      circle farthest-corner,
      rgba(130, 224, 255) 40%,
      rgba(255, 255, 255, 0) 100%
    );
    background-image: -ms-radial-gradient(
      center,
      circle farthest-corner,
      rgba(130, 224, 255) 40%,
      rgba(255, 255, 255, 0) 100%
    );
    background-image: radial-gradient(
      center,
      circle farthest-corner,
      rgba(130, 224, 255) 40%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  body {
    margin: 0;
    /* color: #5691c9; */
    /* background-color:  #5691c9;; */
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(#6af), to(#bdf));
    background-image: -webkit-linear-gradient(#6af, #bdf);
    background-image: -moz-linear-gradient(#6af, #bdf);
    background-image: linear-gradient(#6af, #bdf); */
  }

  #snow {
    max-height: 50vh;
    /* position: absolute; */
  }

  .navbar {
    z-index: 5;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}

.title {
  color: black;
}

.text-black {
  color: black;
}


#loginDiv {
  text-align: center;
  display: table;
  top: 45vh;
  
  background-color: white;
  font-family: Textt;
  border-radius: 10px;
  border: 1px solid #dddddd;
  z-index: 6;
}

@media (max-width: 1000px) {
  #loginDiv {
    left: 10%;
    height: 40vh;
    width: 80vw;
  }
}

@media (min-width: 1000px) {
  #loginDiv {
    left: 42%;
    height: 25vh;
    width: 15vw;
  }
}

#alertDiv {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 45%;
  height: 120px;
  width: 200px;
  background-color: white;
  font-family: Textt;
  border-radius: 10px;
  border: 1px solid #dddddd;
}
#alertButton {
  position: absolute;
  font-family: Textt;
  font-size: 20px;
  border-radius: 10px;
  bottom: 5%;
  right: 40%;
  border: none;
}
#alertP {
  margin-top: 5px;
}

#loginInput {
  /* position: absolute; */
  text-align: center;
  font-size: 18px;
  /* max-width: 179px; */
  /* max-height: 32px; */
  /*margin: 8px;
  margin-top: 20px;*/
  font-family: Textt;
  border-radius: 10px;
  background-color: #ececec;
  border: 1px solid #c9c9c9;
}
#loginButton {
  font-family: Textt;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
#loginText {
  font-size: 18px;
  text-align: center;
  left: 15%;
}
#loginCookieWarning {
  font-size: 14px;
}

.blur {
  /* left: 0px;
  top: 0px; */
  filter: blur(10px) brightness(70%);
}

.background {
  background-color: rgba(0,0,0, 0.4);
}

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.hidden-during-login {
  visibility: hidden;
}

/*CUSTOM SCROLL BAR*/
/*width*/
::-webkit-scrollbar {
  width: 10px;
}
/*background*/
::-webkit-scrollbar-track {
  background: lightblue;
}
/*handle*/
::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}
/*hover*/
::-webkit-scrollbar-thumb:hover {
  background-color: black;
}