
@font-face {
    font-family: Cisla;
    src: url('JMH Cthulhumbus Arcade.otf');
}
@font-face {
    font-family: Textt;
    src: url('Spirax-Regular.ttf');
}


@media (max-width: 1000px) {
      .ball {
        background-repeat: no-repeat;
        background-size: contain;
        text-align: center;
        display: flex;
        font-size: 12px;
        color: black;
        flex-direction: column;
        justify-content: center;
        background-position: center center;
        width: 8%;
        height: 5%;
        position: absolute;
        font-family: Cisla;
        cursor: pointer;
    }
}

@media (min-width: 1000px) {
  .ball {
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    display: flex;
    font-size: 12px;
    color: black;
    flex-direction: column;
    justify-content: center;
    background-position: center center;
    width: 3.3%;
    height: 5%;
    position: absolute;
    font-family: Cisla;
    cursor: pointer;
}
}


.snowflake {
  color: lig;
    position: absolute;
    display: block;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-image: -webkit-radial-gradient(
      center,
      circle farthest-corner,
      rgba(130, 224, 255) 40%,
      rgba(255, 255, 255, 0) 100%
    );
    background-image: -moz-radial-gradient(
      center,
      circle farthest-corner,
      rgba(130, 224, 255) 40%,
      rgba(255, 255, 255, 0) 100%
    );
    background-image: -ms-radial-gradient(
      center,
      circle farthest-corner,
      rgba(130, 224, 255) 40%,
      rgba(255, 255, 255, 0) 100%
    );
    background-image: radial-gradient(
      center,
      circle farthest-corner,
      rgba(130, 224, 255) 40%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  body {
    margin: 0;
    /* color: #5691c9; */
    /* background-color:  #5691c9;; */
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(#6af), to(#bdf));
    background-image: -webkit-linear-gradient(#6af, #bdf);
    background-image: -moz-linear-gradient(#6af, #bdf);
    background-image: linear-gradient(#6af, #bdf); */
  }

  #snow {
    position: absolute;
    height: 100%;
    height: 100%;
  }

  .navbar {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}

.title {
  color: black;
}

.text-black {
  color: black;
}