html {
  scroll-behavior: smooth;
}

canvas {
  display: block;
  position: relative;
  zindex: 1;
  pointer-events: none;
}

.fade-out {
  animation: fadeOut ease 8s;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

audio {
    padding-top: 10px;
}

body {
  overflow: hidden;
}

main {
  overflow-x: hidden;
}

#buttonFile {
  margin-top: 10px;
}

@font-face {
    font-family: Cisla;
    src: url('JMH Cthulhumbus Arcade.otf');
}
@font-face {
    font-family: Textt;
    src: url('Spirax-Regular.ttf');
}

@media (max-width: 1000px) {
      .ball {
        background-repeat: no-repeat;
        background-size: contain;
        text-align: center;
        display: flex;
        font-size: 12px;
        color: black;
        flex-direction: column;
        justify-content: center;
        background-position: center center;
        width: 6vh;
        height: 5%;
        font-size: smaller;
        position: absolute;
        font-family: Cisla;
        cursor: pointer;
    }
}

@media (min-width: 1000px) {
  .ball {
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    display: flex;
    font-size: 12px;
    color: black;
    flex-direction: column;
    justify-content: center;
    background-position: center center;
    width: 6vh;
    height: 5%;
    position: absolute;
    font-family: Cisla;
    cursor: pointer;
}
}

.strong {
  font-style: italic;
  font-size: 24px;
}

#snow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1000;
}

  .navbar {
    z-index: 5;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}

.title {
  color: black;
}

.text-black {
  color: black;
}


#loginDiv {
  text-align: center;
  display: table;
  top: 45vh;
  
  background-color: white;
  font-family: Textt;
  border-radius: 10px;
  border: 1px solid #dddddd;
  z-index: 6;
}

@media (max-width: 1000px) {
  #loginDiv {
    left: 10%;
    height: 40vh;
    width: 80vw;
  }
}

@media (min-width: 1000px) {
  #loginDiv {
    left: 42%;
    height: 25vh;
    width: 15vw;
  }
}

@media (max-width: 1000px) {
  #alertDiv {
    width: 35vw;
    height: 20vh;
  }
}

@media (min-width: 1000px) {
  #alertDiv {
    width: 10vw;
    height: 13vh;
  }
}

#alertDiv {
  text-align: center;
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: white;
  font-family: Textt;
  border-radius: 10px;
  border: 1px solid #dddddd;
}
#alertButton {
  position: absolute;
  font-family: Textt;
  font-size: 20px;
  border-radius: 10px;
  transform: translate(-50%, 0%);
  bottom: 5%;
  border: none;
}

#alertP {
  margin-top: 5px;
}

#loginInput {
  /* position: absolute; */
  text-align: center;
  font-size: 18px;
  /* max-width: 179px; */
  /* max-height: 32px; */
  /*margin: 8px;
  margin-top: 20px;*/
  font-family: Textt;
  border-radius: 10px;
  background-color: #ececec;
  border: 1px solid #c9c9c9;
}
#loginButton {
  font-family: Textt;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
#loginText {
  font-size: 18px;
  text-align: center;
  left: 15%;
}
#loginCookieWarning {
  font-size: 14px;
}

.blur {
  /* left: 0px;
  top: 0px; */
  filter: blur(10px) brightness(70%);
}

.background {
  background-color: rgba(0,0,0, 0.4);
}

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.hidden-during-login {
  visibility: hidden;
}

#star {
  cursor: pointer;
}

/*CUSTOM SCROLL BAR*/
/*width*/
::-webkit-scrollbar {
  width: 10px;
}
/*background*/
::-webkit-scrollbar-track {
  background: lightblue;
}
/*handle*/
::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}
/*hover*/
::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

#timeWarning {
  display: block;
  width: 300px;
  height: 150px;
  position: absolute;
  z-index: 3;
  left: 40%;
  top: 70%;
  border: 1px solid #dddddd;
  border-radius: 10px;
  background-color: whitesmoke;
  text-align: center;
}